body{
    background-color: #070606;
    font-family: Raleway;
    

}
.hero{
    max-width: 25%;
    padding: 2px;
    
}
.hero_headline{
    font-family: Raleway;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size:xx-large
     
}

.hero_paragraph{
    color: #BDBDBD;
}

.hero_get_start{
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2B892E;
    color:#FFFFFF;
    border-radius: 20px

}

.hero_image{
    padding-top: 20px;
    width: 600px;

    
}
