body{
    background-color: #FFFFFF;
}
/* */
.hero_section{
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    row-gap: 60px;
}

@media screen and (max-width: 768px) {

    .hero_section {
    grid-template-columns: repeat(2,1fr);
    }
    
}